.banner{
    width: 100%;
    height: 200px;
    background-color: var(--bg-secondary-color);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0px 50px 20px 50px;
    font-family: var(--font-family);
    font-weight: 700;
}
.banner h3 {
    font-weight: 700;
}

/* text */
.text {
    padding: 30px 50px 0px 50px;   
}
.text h2{
    font-weight: 700;
    font-family: var(--font-family);
}
.text p {
    font-weight: 600;
    font-family: var(--font-family);
    color: rgba(0, 0, 0, 0.44);
}

/* cards */
.app-cards{
    width: 100%;
    display: flex;
    padding: 30px 50px 30px 50px;
    gap: 30px;
    flex-wrap: wrap;
}
