.banner {
  width: 100%;
  height: 200px;
  background-color: var(--bg-secondary-color);
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0px 50px 20px 50px;
  font-family: var(--font-family);
  font-weight: 700;
}
.banner h3 {
  font-weight: 700;
}

/*start about info*/
.about-img {
  padding: 20px;
  border-radius: 45px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.about-txt {
  padding: 20px;
}
.about-txt h1 {
  font-weight: 700;
}
.about-txt h1 span {
  color: var(--text-secondary-color);
}
.about-txt p {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.6);
}
/*start text list*/
.txt-list {
  margin-top: 100px;
}
ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
ul li:hover .check-box {
  /*background-color: var(--bg-black-color);*/
  animation: check-box-animation 0.25s ease-in-out forwards;
}
@keyframes check-box-animation {
  0% {
    background-color: white;
    transform: scale(1.1);
  }
  100% {
    background-color: var(--bg-black-color);
  }
}
.check-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-box i {
  font-size: 20px;
  color: var(--text-white-color);
}

@media (max-width: 950px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .img-about {
    width: 100%;
    padding:  0 !important;
  }
  .about-txt {
    width: 100%;
  }
}
/* responsive */
@media (max-width: 600px) {
  .banner {
    padding: 0px 20px 20px 20px;
  }
  .banner h3 {
    display: none;
  }
  .about-info .container-fluid {
    padding: 50px 20px 50px 20px !important;
  }
  .img-about {
    padding: 15px !important;
  }
}
@media (max-width: 490px) {
  .txt-list {
    display: flex;
    flex-direction: column;
  }
  .txt-list .col-6{
    width: 100%;
  }
}
