.dashboard-page {
    position: absolute;
    background-color: var(--bg-primary-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
/* start dashboard menu */
.dashboard-menu {
    width: 250px;
    height: 100%;
}
.logo-setion {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.logo-setion a {
    text-decoration: none;
    color: var(--text-white-color);
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 900;
}
.dashboard-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.dashboard-menu ul li {
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.1s ease-in-out;
    margin-left: 10px;
    cursor: pointer;
}
.dashboard-menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 10px;
}
.dashboard-menu ul li a {
    text-decoration: none;
    color: var(--text-white-color);
    font-size: 20px;
    font-weight: 700;

}
.dashboard-menu ul li i {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 20px;
    color: var(--text-white-color);
}
.dashboard-menu ul .active{
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 10px;
}



/* start dashboard container */
.dashboard-container {
    width: calc(100% - 250px);
    height: 100%;
    /* margin: 10px; */
    /* border-radius: 15px; */
    background-color: white;
}
/* navbar */
.admin-navbar {
    margin-top: 10px;
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    display: flex;
}
.profile .img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .img img {
    width: 50px;
}
.profile .text {
    margin-left: 20px;
    line-height: 10px;
}
.profile .text h5 {
    font-weight: 700;
}
.profile .text p {
    color: rgba(0, 0, 0, 0.461);
}



.unknown-btn {
    background-color: var(--bg-primary-color);
    height: 40px;
    border-radius: 20px;
    color: var(--text-white-color);
    padding-left: 20px;
    padding-right: 20px;
}
/* report table */
.report-table {
    padding: 30px;
}