.banner{
    width: 100%;
    height: 200px;
    background-color: var(--bg-secondary-color);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0px 50px 20px 50px;
    font-family: var(--font-family);
    font-weight: 700;
}
.banner h3 {
    font-weight: 700;
}

/* start table */
.dispaly-cart {
    padding: 50px;
}
thead tr th{
    background-color: var(--bg-secondary-color);
}
.tbl-price, .tbl-subtotal{
    width: 150px;
}
.tbl-quantity {
    width: 300px;
}
.tbl-remove {
    width: 50px;
}
.quantity{
    display: flex;
    gap: 10px;
}
.decrease, .increase{
    display: flex;
    overflow: hidden;
    background-color: var(--bg-secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.decrease span, .increase span{
    font-size: 30px;
    color: var(--text-secondary-color);
    text-align: center;
    line-height: 1;
    margin-left: 4px;
}
.decrease:hover, .increase:hover{
    background-color: var(--bg-primary-color);
}
.decrease:active, .increase:active{
    transform: scale(0.95);
}
.decrease:hover span, .increase:hover span{
    color: var(--text-white-color);
}
.qty{
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid rgba(0, 0, 0, 0.194);
}


/* list report */
ul {
    width: 400px;
    max-width: 100%;
}
.list-head {
    background-color: var(--bg-primary-color);
    color: white;
    font-weight: 900;
}
.list-group-item {
    font-weight: 700;
}
.btn-check-out {
    font-weight: 600;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    background-color: black;
    color: var(--text-white-color);
}
.btn-check-out:hover {
    background-color: var(--bg-primary-color);
}
.btn-check-out:active {
    transform: scale(0.9);
    color: var(--text-white-color);
}

/* no book add to cart */
.no-wish {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no-wishlist-text {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.no-wishlist-text + button {
    color: var(--text-white-color);
    background-color: var(--bg-primary-color);
    font-weight: 550;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.no-wishlist-text + button:hover {
    background-color: var(--bg-black-color);
}
.no-wishlist-text + button:active {
    transform: scale(0.95);
}


@media (max-width: 700px) {
    .tbl-product {
        width: 150px;
    }
    .tbl-product .img {
        display: none !important;
    }
    .decrease, .increase{
        width: 30px;
        height: 30px;
    }
    .decrease span, .increase span{
        font-size: 20px;
        margin-bottom: 40px !important;
        line-height: 0;
        margin-top: 7px;
        margin-left: -3px;
    }
    .qty {
        width: 50px;
        height: 30px;
    }
}
@media (max-width: 600px){
    .dispaly-cart {
        padding-left: 20px;
        padding-right: 20px;
    }
    .quantity {
        gap: 5px;
    }
    .tbl-remove {
        width: 30px !important;
    }
    .tbl-remove button{
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .tbl-product {
        width: auto;
    }
    .quantity {
        flex-direction: column;
    }
    .decrease, .increase{
        width: 50px;
        height: 30px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
    }
    .decrease span, .increase span{
        margin-top: 35px;
        margin-left: 1px;
    }
}
