/* hero banner */
.hero-banner{
    display: flex;
    width: calc(100% - 100px);
    background-color: var(--bg-secondary-color);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
}
.hero-text{
    width: 60%;
    padding: 50px;
}
.hero-text h1{
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 60px;
}
.hero-text p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.387);
    font-weight: 400;
}
.highligh{
    color: var(--text-secondary-color);
}
.hero-img{
    width: 40%;
    position: relative;
}
.hero-img .img{
    width: 80%;
    position: relative;
    z-index: 2;
}
.hero-img .img img{
    width: 100%;
    z-index: 2;
}
.blue-box {
    width: 400px;
    height: 400px;
    background-color: var(--bg-primary-color);
    border-radius: 50px;
    transform: rotateZ(30deg);
    position: absolute;
    top: 100px;
}

/* categories list */
.categories-list{
    padding: 50px;
}
.categories-title{
    width: 100%;
    display: flex;
    justify-content: center;
}
hr {
    width: 20%;
}
.categories-title + h1 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}
.categories-title div {
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-primary-color);
    color: white;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    font-family: var(--font-family);
    margin-left: 20px;
    margin-right: 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    height: 500px;
}
    
.div1 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}
.collection{
    position: relative;
}
.collection .img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection .img img {
    width: 100%;
    opacity: 50%;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 8;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 3;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}
       
.title-and-btn{
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 1;
}
.collection-title{
    color: white;
    font-weight: 700;
}
.collection-btn{
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.circle i {
    font-size: 14px;
    color: white;
}
.collection-btn:hover{
    background-color: white;
    color: var(--text-secondary-color);
}
.collection-btn:hover .circle{
    background-color: var(--bg-primary-color);
} 
